<div class="ed-container s-10">
  <div class="menulateral col-sm-2 spd spi col-lg-m">
    <ul>
      <a  (click)="goTo('escritorio')" class="logo_udeo"></a>

      <li>
        <a class="ico_dash" (click)="goTo('escritorio')">
          <p>Escritorio</p>
        </a>
      </li>

      <li>
        <a class="ico_proyectos" (click)="goTo('proyectos')">
          <p>Proyectos</p>
        </a>
      </li>
    </ul>

    <ul class="menu_bottom">
      <li>
        <a role="button" class="ico_exit" (click)="goTo('login')">
          <p class="dnone_menut">
            Salir
          </p>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="btn-menu">
  <div class="logo_udeophone" (click)="goTo('escritorio')"></div>
  <div class="ico-menu" (click)="showMenu()"></div>

  <div id="area_mas" *ngIf="isMenu">
    <div class="ico-salir" (click)="showMenu()"></div>

    <div class="list_phone">
      <ul>
        <li (click)="goTo('escritorio')">
          <a class="ico_dash">
            <p>Escritorio</p>
          </a>
        </li>

        <li (click)="goTo('proyectos')">
          <a class="ico_proyectos">
            <p>Proyectos</p>
          </a>
        </li>
      </ul>

      <ul class="menu_bottom">
        <li (click)="goTo('login')">
          <a role="button" class="ico_exit">
            <p class="dnone_menut">
              Salir
            </p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
