<app-menu></app-menu>
<div class="content_area">
  <div class="head_vista">
    <div class="opciones_vista">
      <div class="titulo">
        <h1>Proyectos</h1>
      </div>

      <div class="container_acciones"></div>
    </div>
  </div>

  <div id="area_ID" *ngIf="isModal" [@inOutAnimation]>
    <div class="header_area">
      <h1>Proyecto Name</h1>

      <a class="ico_salir" (click)="showModal()"></a>
    </div>

    <div class="contenido_area">
      <div class="ed-container full">
        <div class="ed-item s-100 m-15">
          <div class="box_menu">
            <ul>
              <li [ngClass]="{'active': descripcion}"
                  (click)="changeTab('descripcion')">Descripción</li>

              <li [ngClass]="{'active': integrantes}"
                  (click)="changeTab('integrantes')">Integrantes</li>

              <li [ngClass]="{'active': docentes}"
                  (click)="changeTab('docentes')">Docentes</li>

              <li [ngClass]="{'active': galeria}"
                  (click)="changeTab('galeria')">Galería</li>
            </ul>
          </div>
        </div>

        <div class="ed-item s-100 m-85">
          <div class="content_detalle">
            <div class="descripcion" *ngIf="descripcion">
              <p>
                {{proyectoSeleccionado.descripcion}}
              </p>
            </div>

            <div class="integrantes" *ngIf="integrantes" >
              <div class="ed-item ed-container full" *ngFor="let alumno of proyectoSeleccionado.alumnos">
                <div class="card_integrantes">

                  <div class="card_item">
                    <div class="card_image" (click)="showModal()">
                      <img [src]="transform(alumno.fotografia)" alt="error" >
                    </div>

                    <div class="card__content">
                      <div class="card__title">
                        <h2>{{alumno.nombreCompleto}}</h2>
                      </div>

                      <div class="card__body">
                        <p>{{alumno.Profesion}}</p>
                      </div>

                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="docentes" *ngIf="docentes">
              <div class="ed-item ed-container full" *ngFor="let catedratico of proyectoSeleccionado.catedraticos">
                <div class="card_docentes">
                  <div class="card_item">
                    <div class="card_image" (click)="showModal()">
                        <img [src]="transform(catedratico.fotografia)" alt="error" >
                    </div>

                    <div class="card__content">
                      <div class="card__title">
                          <h2>{{catedratico.nombreCompleto}}</h2>
                      </div>

                      <div class="card__body">
                          <p>{{catedratico.Profesion}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="descripcion" *ngIf="galeria" >
                <p-galleria [images]="proyectoSeleccionado.galeriaFinal" panelWidth="500" panelHeight="313" [showCaption]="true"></p-galleria>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ed-container full">
    <div class="boxdata_container">
      <div class="ed-container full">
          <div class="boxdata_cardcontainer" >
              <div class="boxdata_item" *ngFor='let proyecto of proyectos'>
                  <div class="card_image">
                      <img *ngIf="proyecto.galeria" [src]="transform(proyecto.galeria[0].path)" alt="Red dot" />
                  </div>
                  <div class="card__content">
                    <div class="card__title">
                      <h2>{{proyecto.nombre}}</h2>
                    </div>
        
                    <div class="card__body">
                      <p>{{proyecto.descripcion}}</p>
                    </div>
        
                    <div class="card__foter">
                      <button type="button" class="btn btn_proyecto" (click)="showModal(proyecto)">
                        Ver Más
                      </button>

                
                      <button type="button" class="btn btn_proyecto" (click)="pushMessage(proyecto)">
                        push
                      </button>
        
                      <button *ngIf="!proyecto.tieneVoto" type="button" class="btn btn_proyecto" (click)="openVotar($event,proyecto,panelVotar)">
                        Votar
                      </button>
                     
                      <button class="btn btn-default" *ngIf="proyecto.tieneVoto && proyecto.valoracionVoto == 1" >
                        <img src="/assets/img/escala1.png" width="30" />
                      </button>
                      <button class="btn btn-default" *ngIf="proyecto.tieneVoto && proyecto.valoracionVoto == 2" >
                        <img src="/assets/img/escala2.png" width="30" />
                      </button>
                      <button class="btn btn-default" *ngIf="proyecto.tieneVoto && proyecto.valoracionVoto == 3" >
                        <img src="/assets/img/escala3.png" width="30" />
                      </button>
                      <button class="btn btn-default" *ngIf="proyecto.tieneVoto && proyecto.valoracionVoto == 4" >
                        <img src="/assets/img/escala4.png" width="30" />
                      </button>
                      <button class="btn btn-default" *ngIf="proyecto.tieneVoto && proyecto.valoracionVoto == 5" >
                        <img src="/assets/img/escala5.png" width="30" />
                      </button>
                    </div>
                  </div>
                </div>
          </div>
      </div>
    </div>
  </div>

  <p-overlayPanel #panelVotar [dismissable]="true" [showCloseIcon]="true">
    <div>
      <button class="btn btn-default" (click) ="votar(panelVotar)">
        <img src="/assets/img/escala1.png" width="30" />
      </button>
      <button class="btn btn-default" (click) ="votar(panelVotar)">
        <img src="/assets/img/escala2.png" width="30" />
      </button>
      <button class="btn btn-default" (click) ="votar(panelVotar)">
        <img src="/assets/img/escala3.png" width="30" />
      </button>
      <button class="btn btn-default" (click) ="votar(panelVotar)">
        <img src="/assets/img/escala4.png" width="30" />
      </button>
      <button class="btn btn-default" (click) ="votar(panelVotar)">
        <img src="/assets/img/escala5.png" width="30" />
      </button>
    </div>
  </p-overlayPanel>
</div>
