<app-menu></app-menu>
<div class="content_area">
  <div class="head_vista">
    <div class="opciones_vista">
      <div class="titulo">
        <h1>Acerca De</h1>
      </div>

      <div class="container_acciones"></div>
    </div>
  </div>

  <div class="ed-container full">
    <div class="boxdata_container">
      <div class="ed-container full">
        <div class="boxdata_cardcontainer">
          <div class="boxdata_item">
            <div class="card_image">
              <div class="image_oc"></div>
            </div>
            <div class="card__content">
              <div class="card__title">
                <h2>Osman Cruz</h2>
              </div>

              <div class="card__body">
                <p>Estudiante de Ingeniería en Sistemas de 2do año.</p>
                <p>Profesión: JavaScript Full Stack Developer / IA Developer.</p>
              </div>

              <!-- <div class="card__foter">
                <button type="button" class="btn btn_proyecto">
                  Ver Más
                </button>
              </div> -->
            </div>
          </div>

          <div class="boxdata_item">
            <div class="card_image">
              <div class="image_prew"></div>
            </div>
            <div class="card__content">
              <div class="card__title">
                <h2>Luis Apellido</h2>
              </div>

              <div class="card__body">
                <p>Estudiante de Ingeniería en Sistemas.</p>
                <p>Profesión: Developer Java.</p>
              </div>
            </div>
          </div>

          <div class="boxdata_item">
            <div class="card_image">
              <div class="image_prew"></div>
            </div>
            <div class="card__content">
              <div class="card__title">
                <h2>Eduardo Tipaz</h2>
              </div>

              <div class="card__body">
                <p>Estudiante de Ingeniería en Sistemas.</p>
                <p>Profesión: Developer Infile.</p>
              </div>
            </div>
          </div>

          <div class="boxdata_item">
            <div class="card_image">
              <div class="image_prew"></div>
            </div>
            <div class="card__content">
              <div class="card__title">
                <h2>Axcel Apellido</h2>
              </div>

              <div class="card__body">
                <p>Estudiante de Ingeniería en Sistemas.</p>
                <p>Profesión: Developer...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
