<app-menu></app-menu>
<div class="content_area">
  <div class="head_vista">
    <div class="opciones_vista">
      <div class="titulo">
        <h1>Desarrollado Por</h1>
      </div>

      <div class="container_acciones"></div>
    </div>
  </div>

  <div class="ed-container full">
    <div class="boxdata_container">
      <div class="ed-container full">
        <div class="boxdata_cardcontainer">
          <div class="boxdata_item">
            <div class="card_image">
              <div class="image_oc"></div>
            </div>
            <div class="card__content">
              <div class="card__title">
                <h2>Osman Cruz</h2>
              </div>

              <div class="card__body">
                <p>Estudiante de Ingeniería en Sistemas.</p>
                <p>Profesión: JavaScript Full Stack Developer / IA Developer. Vivo la vida un paso a la vez, tratando de ser mejor cada día, para poder alcanzar las metas y sueños que me he trazado con el paso del tiempo.</p>

                <p>Proverbios 2, Josué 1:9, Isaías 11:2. God is Good</p>
              </div>
            </div>
          </div>

          <div class="boxdata_item">
            <div class="card_image">
              <div class="image_ls"></div>
            </div>
            <div class="card__content">
              <div class="card__title">
                <h2>Luis Rodas</h2>
              </div>

              <div class="card__body">
                <p>Estudiante de Ingeniería en Sistemas.</p>
                <p>Profesión: Java Full Stack Developer. Buscador de aventuras, amante del mar, buzo profesional, bailar, tomar y pasarla bien.</p>
              </div>
            </div>
          </div>

          <div class="boxdata_item">
            <div class="card_image">
              <div class="image_et"></div>
            </div>
            <div class="card__content">
              <div class="card__title">
                <h2>Eduardo Tipáz</h2>
              </div>

              <div class="card__body">
                <p>Estudiante de Ingeniería en Sistemas.</p>
                <p>He vivido un 32% la vida... Mochilero por el mundo Programo para comer y pagar la universidad bebo café luego existo, a veces cerveza
                Baseball, padawan y bicicleta de montaña (no me gusta el fútbol).</p>
              </div>
            </div>
          </div>

          <div class="boxdata_item">
            <div class="card_image">
              <div class="image_ad"></div>
            </div>
            <div class="card__content">
              <div class="card__title">
                <h2>Axel David Colop</h2>
              </div>

              <div class="card__body">
                <p>Estudiante de Ingeniería en Sistemas.</p>
                <p>Profesión: C# Developer. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
