<div class="login_container">
  <div class="ed-container main-center cross-center full_height">
    <div class="ed-item s-95 m-45">
      <div class="logo_udeo"></div>
      <div class="box_login">
        <div *ngIf="aRoute" class="content_optionslg">
          <div (click)="getFunGoogle()" class="icons ico_google"></div>
        </div>
        <div *ngIf="!aRoute" class="content_optionslg">
          <div><h3>Registro</h3></div>
        </div>

        <form
          [formGroup]="userForm"
          (ngSubmit)="
            getNgSubmitMethod(getUserForm.email.value, getUserForm.pass.value)
          "
        >
          <div class="form-group">
            <input
              type="email"
              formControlName="email"
              class="form-control"
              placeholder="Correo"
              [ngClass]="{
                'is-invalid': submitted && getUserForm.email.errors
              }"
            />
            <div
              *ngIf="submitted && getUserForm.email.errors"
              class="invalid-feedback"
            >
              <div *ngIf="getUserForm.email.errors.required">
                Email es requerido
              </div>
              <div *ngIf="getUserForm.email.errors.email">
                Email debe ser una direccion valida
              </div>
            </div>
          </div>

          <div class="form-group">
            <input
              type="password"
              formControlName="pass"
              class="form-control"
              placeholder="Contraseña"
              [ngClass]="{
                'is-invalid': submitted && getUserForm.pass.errors
              }"
            />
            <div
              *ngIf="submitted && getUserForm.pass.errors"
              class="invalid-feedback"
            >
              <div *ngIf="getUserForm.pass.errors.required">
                Password es requerido
              </div>
              <div *ngIf="getUserForm.pass.errors.minlength">
                Password debe de tener almenos 4 caracteres
              </div>
              <div *ngIf="getUserForm.pass.errors.maxlength">
                Password no puede tener mas de 30 caracteres.
              </div>
              <div *ngIf="getUserForm.pass.errors.pattern">
                Password debe incluir una letra y un numero
              </div>
            </div>
          </div>
          <a *ngIf="aRoute" routerLink="/registro" routerLinkActivate="activate"
            >¿Aun no tienes cuenta? Regístrate</a
          >
          <a *ngIf="!aRoute" routerLink="/login" routerLinkActivate="activate"
            >¿Ya tienes cuenta? Inicia sesión</a
          >
          <div class="form-group row">
            <div class="col-sm-12">
              <button type="submit" class="btn btn_login">Ingresar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
