.spi {
  padding-left: 0 !important;
}

.spd {
  padding-right: 0 !important;
}

.sp_phone {
  @include to(m) {
    padding: 0 !important;
  }
}

body .ui-corner-all {
  @include to(m) {
    width: 100% !important;
  }
}

.g_spv {
  @include to(m) {
    width: 100% !important;
  }
}
